* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #e1bacb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aa6d8f;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ba7199;
}

.wrapper {
  background-color: #fff;
  border-radius: 15px;
  max-width: 700px;
  margin: 15px auto;
  height: auto;
  overflow: auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;

  .functional-button {
    width: 40%;
    padding: 10px;
    color: #aa6d8f;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #aa6d8f;
    background: #fff;
    border-radius: 15px;

    &:hover {
      background: #aa6d8f;
      color: #fff;
    }
  }

  .title-of-the-app {
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    color: #aa6d8f;
  }
}

.js-formContainer {
  position: relative;
  overflow: auto;
  &:after {
    content: "";
    display: block;
    background: #aa6d8f;
    height: 1px;
    margin: 20px auto;
    width: 600px;
  }

  .functional-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .addListItem_element,
    .searchItem_element {
      width: 95%;
      border-radius: 10px;
      border: 1px solid #aa6d8f;
      margin: 8px;
      padding: 12px;
      font-size: 14px;
      font-style: italic;
    }

    .js-addListItem_button,
    .js-searchItem_button {
      background-color: #aa6d8f;
      color: #fff;
      font-size: 16px;
      font-style: normal;
    }
  }

  .close-form-btn{
    position: absolute;
    top: 0;
    right: 18px;
    border: 2px solid #aa6d8f;
    font-weight: 600;
    background: #fff;
    color: #aa6d8f;
    border-radius: 100%;
    padding: 3px 7px;
  }
}

.js-itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .js-item {
    width: 95%;
    border: 2px solid #aa6d8f;
    margin: 8px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: #fff;
    color: #aa6d8f;

    span {
      position: absolute;
      top: -1px;
      right: 0;
      padding: 8px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: none;
      border-right: none;
      font-size: 12px;
      background: #20d1ab;
      color: #fff;
    }

    .titleOfTheItem,
    .descriptionOfTheItem {
      font-size: 16px;
      padding: 15px 75px 15px 15px;
      line-height: 1.5;
    }

    .titleEditOfTheItem,
    .descriptionEditOfTheItem {
      padding: 5px;
      width: 85%;
      border-radius: 10px;
      border: 1px solid #aa6d8f;
      margin: 7px;
      color: #707070;
    }

    .button-container {
      width: 100%;
      display: flex;

      .item-functional-button,
      .item-functional-edit-button {
        width: 25%;
        border: 1px solid #aa6d8f;
        font-size: 16px;
        padding: 5px;
        margin: 0 2px;
        border-radius: 10px;
        background: #fff;
        color: #aa6d8f;

        &:active {
          background: #aa6d8f;
          color: #fff;
        }
      }

      .item-functional-edit-button {
        width: 50%;
      }
    }
  }
}

//--------------------
.dropbox-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;
  

  &_dropdown{
    border: 2px solid #aa6d8f;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    width: 45%;
    margin: 0 8px;
  }
}


.dropbtn {
  width: 100%;
  color: #aa6d8f;
  background: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {    
    background: #aa6d8f;
    color: #fff;
  }
}


.dropdown-content {
  display: none;
  width: 42%;
  position: absolute;
  background-color: #e1bacb;
  border-radius: 5px;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: #ba7199;
  font-weight: 600;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;

  &:hover{
    background: #aa6d8f;
    color: #fff;
  }
}

.show {
  display: block;
}
//--------------------------------------------------

.disabled-button {
  opacity: 0.5;
}
